@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Jersey+15&display=swap');

body {
    margin: 0;
    background-color: #f0ebe2;
    font-family: "Fragment Mono", monospace;
}

.hide {
    display: none !important;
}

header {
    display: grid;
    height: 60px;
    width: 100%;
    background-color: tan;
    position: sticky;
    top: 0;
    z-index: 6;
}

nav {
    display: flex;
    justify-content: center;
}

nav * {
    width: 120px;
    font-size: 100%;
    background-color: transparent;
    border: none;
}

nav button:hover {
    background-color: #ebc78662;
    transition-duration: 300ms;
}

h3 {
    margin: 0;
    font-size: 32px;
}

.tab {
    justify-content: center;
    display: flex;
    width: 100%;
}

#certifications-container, #experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    justify-content: center;
}

.item-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 12px;
    padding: 12px;
    width: 448px;
    max-width: 448px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
}

ul {
    margin: 0;
}

.item-card img {
    width: 240px;
    margin: auto;
}

.item-card img:hover {
    scale: 1.01;
    transition-duration: 500ms;
}

.item-card div {
    margin: auto;
}

p {
    margin: 5px;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

section {
    border: 2px solid lightgray;
}

#about-card {
    display: grid;
    /* grid-template-columns: 3fr, 2fr 1fr; */
    margin: 16px;
    padding: 16px;
}

h2 {
    text-align: center;
    width: 100%;
}

.tab {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
    position: relative;
}

.tab.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}