@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Jersey+15&display=swap');

body {
    margin: 0;
    background-color: #f0ebe2;
    font-family: "Fragment Mono", monospace;
}

.hide {
    display: none !important;
}

header {
    display: grid;
    height: 60px;
    width: 100%;
    background-color: tan;
    position: sticky;
    top: 0;
    z-index: 6;
}

nav {
    display: flex;
    justify-content: center;
}

nav * {
    width: 150px;
    font-size: 100%;
    background-color: transparent;
    border: none;
}

nav button:hover {
    background-color: #ebc78662;
    transition-duration: 300ms;
}

h3 {
    margin: 0;
    font-size: 32px;
}

.tab {
    justify-content: center;
    display: flex;
    width: 100%;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
    position: relative;
}

#certifications-container, #experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 12px;
    padding: 12px;
    width: 448px;
    max-width: 448px;
    background: #F8F5F1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 16px;
}

ul {
    margin: 0;
}

.item-card img {
    width: 240px;
    margin: auto;
}

.item-card img:hover {
    scale: 1.025;
    transition-duration: 300ms;
}

.item-card article {
    margin: auto;
}

p {
    margin: 5px;
    text-wrap: wrap;
}

h4 {
    margin: 5px;
}

#about-card {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    line-height: 1.4;
}

#about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    justify-self: center;
}

#about-container > * {
    flex: 50%;
    justify-content: center;
}

#carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-container img {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#carousel-container button {
    margin: 8px;
    font-size: 1.6em;
}

#about-card div > div > div {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    width: 100%;
}

.tab.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}